# Node dependencies
node_modules/

# dotenv environment variables
.env

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Optional: OS or temp files
*.swp
*.swo
